# Getting Financial Data - Pandas Datareader

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [26]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
import pandas_datareader.data as web
import datetime as dt

%matplotlib inline

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is).

DatetimeIndex(['2015-01-02', '2015-01-03', '2015-01-04', '2015-01-05',
               '2015-01-06', '2015-01-07', '2015-01-08', '2015-01-09',
               '2015-01-10', '2015-01-11',
               ...
               '2022-04-20', '2022-04-21', '2022-04-22', '2022-04-23',
               '2022-04-24', '2022-04-25', '2022-04-26', '2022-04-27',
               '2022-04-28', '2022-04-29'],
              dtype='datetime64[ns]', length=2675, freq='D')

### Step 3. Get an API key for one of the APIs that are supported by Pandas Datareader, preferably for AlphaVantage.

If you do not have an API key for any of the supported APIs, it is easiest to get one for [AlphaVantage](https://www.alphavantage.co/support/#api-key). (Note that the API key is shown directly after the signup. You do *not* receive it via e-mail.)

(For a full list of the APIs that are supported by Pandas Datareader, [see here](https://pydata.github.io/pandas-datareader/readers/index.html). As the APIs are provided by third parties, this list may change.)

### Step 4. Use Pandas Datarader to read the daily time series for the Apple stock (ticker symbol AAPL) between 01/01/2015 and today, assign it to df_apple and print it.

ValueError: Length of values (2675) does not match length of index (1845)

### Step 5. Add a new column "stock" to the dataframe and add the ticker symbol

              open     high     low   close     volume stock
2022-04-25  161.12  163.170  158.46  162.88   96046376  AAPL
2022-04-26  162.25  162.340  156.72  156.80   94008394  AAPL
2022-04-27  155.91  159.790  155.38  156.57   88063191  AAPL
2022-04-28  159.25  164.515  158.93  163.64  130216792  AAPL
2022-04-29  161.84  166.200  157.25  157.65  131747571  AAPL

### Step 6. Repeat the two previous steps for a few other stocks, always creating a new dataframe: Tesla, IBM and Microsoft. (Ticker symbols TSLA, IBM and MSFT.)

In [33]:
stock_list = ["AAPL", "TSLA", "IBM", "MSFT"]
l = []
for s in stock_list:
    data = web.get_data_yahoo(s, start='2015-01-01', end='2022-05-01')
    data["stock"] = s
    l.append(data.copy())

df_stock = pd.concat(l, axis=0)
df_stock.head()

,High,Low,Open,Close,Volume,Adj Close,stock
Date,,,,,,,
2014-12-31,28.282499,27.552500,28.205000,27.594999,165613600.0,24.915257,AAPL
2015-01-02,27.860001,26.837500,27.847500,27.332500,212818400.0,24.678255,AAPL
2015-01-05,27.162500,26.352501,27.072500,26.562500,257142000.0,23.983030,AAPL
2015-01-06,26.857500,26.157499,26.635000,26.565001,263188400.0,23.985279,AAPL
2015-01-07,27.049999,26.674999,26.799999,26.937500,160423600.0,24.321608,AAPL

### Step 7. Combine the four separate dataFrames into one combined dataFrame df that holds the information for all four stocks

In [38]:
df_stock.index = pd.MultiIndex.from_frame(df_stock[["stock","Date"]])
df_stock.head()

                       High        Low       Open      Close       Volume  \
stock Date
AAPL  2014-12-31  28.282499  27.552500  28.205000  27.594999  165613600.0
      2015-01-02  27.860001  26.837500  27.847500  27.332500  212818400.0
      2015-01-05  27.162500  26.352501  27.072500  26.562500  257142000.0
      2015-01-06  26.857500  26.157499  26.635000  26.565001  263188400.0
      2015-01-07  27.049999  26.674999  26.799999  26.937500  160423600.0

                  Adj Close stock       Date
stock Date
AAPL  2014-12-31  24.915257  AAPL 2014-12-31
      2015-01-02  24.678255  AAPL 2015-01-02
      2015-01-05  23.983030  AAPL 2015-01-05
      2015-01-06  23.985279  AAPL 2015-01-06
      2015-01-07  24.321608  AAPL 2015-01-07

### Step 8. Shift the stock column into the index (making it a multi-level index consisting of the ticker symbol and the date).

In [68]:
vol

     stock       Date       Volume
0     AAPL 2014-12-31  165613600.0
1     AAPL 2015-01-02  212818400.0
2     AAPL 2015-01-05  257142000.0
3     AAPL 2015-01-06  263188400.0
4     AAPL 2015-01-07  160423600.0
...    ...        ...          ...
7379  MSFT 2022-04-25   35678900.0
7380  MSFT 2022-04-26   46518400.0
7381  MSFT 2022-04-27   63477700.0
7382  MSFT 2022-04-28   33646600.0
7383  MSFT 2022-04-29   37025000.0

[7384 rows x 3 columns]

### Step 7. Create a dataFrame called vol, with the volume values.

In [64]:
vol = df_stock[["Volume"]]
vol.head()
vol = vol.reset_index()
vol["Date"] = vol["Date"].astype("datetime64[D]")

### Step 8. Aggregate the data of volume to weekly.
Hint: Be careful to not sum data from the same week of 2015 and other years.

In [73]:

vol["W"] = vol.Date.dt.isocalendar().week
vol["Y"] = vol.Date.dt.year


pvt = pd.pivot_table(vol, values='Volume', index=["Y","W"],columns=['stock'], aggfunc=np.sum)

### Step 9. Find all the volume traded in the year of 2015

In [77]:
pvt.loc[(2015,slice(None)),:]

stock            AAPL         IBM         MSFT         TSLA
Y    W
2015 1   2.128184e+08   5779673.0   27913900.0   23822000.0
     2   1.133010e+09  25578884.0  158825300.0  113548000.0
     3   1.216906e+09  24329751.0  157088200.0  153996000.0
     4   7.949480e+08  32682062.0  137352600.0   81058500.0
     5   1.863371e+09  34442689.0  437786800.0   78601000.0
     6   1.083029e+09  23472449.0  215214500.0   95238000.0
     7   1.212827e+09  19000590.0  172848000.0  202363000.0
     8   7.774196e+08  14759373.0  118131900.0   89147000.0
     9   1.472865e+09  23996705.0  150315300.0  146839500.0
     10  9.877540e+08  22089218.0  148863600.0  140829000.0
     11  1.306056e+09  27338465.0  221483200.0  134374500.0
     12  1.066692e+09  26866615.0  216925300.0  140442500.0
     13  8.373052e+08  24663634.0  167126300.0  123724000.0
     14  6.481272e+08  17537027.0  144289700.0  119605500.0
     15  7.288300e+08  14557391.0  146532400.0  154873500.0
     16  6.847444e+08  18345061.0  146762000.0   64328000.0
     17  8.297628e+08  37071914.0  274379000.0  103469000.0
     18  1.683889e+09  22885120.0  271446400.0  154438500.0
     19  1.087568e+09  17571546.0  205178300.0  148132500.0
     20  8.332060e+08  14054684.0  150345900.0  124497000.0
     21  8.691896e+08  12488404.0  125890500.0   74883500.0
     22  7.925944e+08  13014331.0  112720800.0   71717500.0
     23  6.833632e+08  14505614.0  131521400.0   59485000.0
     24  8.804584e+08  19208953.0  126223900.0   72745000.0
     25  7.941008e+08  21718516.0  185524200.0   74647500.0
     26  7.823760e+08  21903659.0  151556800.0   87659000.0
     27  6.039276e+08  13576243.0  120123000.0   79154500.0
     28  1.102873e+09  18978624.0  157146200.0  111965500.0
     29  7.569796e+08  17926975.0  133427000.0   67548000.0
     30  1.377076e+09  38832018.0  198833400.0   96279500.0
     31  7.663944e+08  16088002.0  185955600.0   78186500.0
     32  1.540002e+09  21075645.0  131020500.0  154087500.0
     33  1.378869e+09  17887227.0  126599300.0  106164000.0
     34  1.282036e+09  20760904.0  182450600.0  132360000.0
     35  2.001452e+09  34034330.0  301968200.0  160208000.0
     36  1.192777e+09  22407099.0  187226100.0  113341000.0
     37  1.010651e+09  14558124.0  124438400.0   57944000.0
     38  1.109104e+09  21675003.0  171822300.0   87952000.0
     39  9.707852e+08  17591628.0  128698500.0   98035000.0
     40  1.255585e+09  20880565.0  165833200.0  112654500.0
     41  1.047091e+09  20351186.0  151471300.0  140103500.0
     42  7.395400e+08  18259185.0  118094400.0   96454500.0
     43  8.861728e+08  43853027.0  277198300.0  143100500.0
     44  1.289449e+09  36300069.0  239455900.0   79416500.0
     45  7.808136e+08  22520692.0  168289400.0  159644500.0
     46  8.662212e+08  26229915.0  196522400.0   90809500.0
     47  7.599248e+08  22055015.0  158723300.0   73955500.0
     48  4.388816e+08  13806781.0   82850100.0   54733500.0
     49  8.270632e+08  24002877.0  226060600.0   74442500.0
     50  7.554160e+08  22338062.0  171286300.0   71150000.0
     51  1.260426e+09  29124197.0  250080300.0   82443000.0
     52  5.064312e+08  17302304.0  102406800.0   30888500.0
     53  4.950460e+08  14161375.0   99228300.0   53602500.0