# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [9]:
import pandas as pd
from random import randint

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [3]:
cars1 = pd.read_csv("./cars1.csv", sep=",")
cars2 = pd.read_csv("./cars2.csv", sep=",")

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [6]:
l = [i for i in cars1.columns if i.startswith("U")]
cars1 = cars1.drop(l, axis=1)
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [7]:
cars1.shape[0], cars2.shape[0]

(198, 200)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [8]:
cars = pd.concat([cars1, cars2], axis=0)
cars = cars1.append(cars2) # append is nice
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [13]:
own = [randint(15000,73000) for i in range(0,cars.shape[0])]
# it a new method
# np.random.randint(15000, high=73001, size=398, dtype='l')
cars["Owners"] = own
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Owners
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,21818
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,58305
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,63339
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,29497
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,70411

### Step 8. Add the column owners to cars

2